h2 {
  color: rgba(10, 83, 40, 0.658);
}

.form-todolist {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 12px;
  margin-bottom: 24px;
}

input {
  height: 24px;
  border: none;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(236, 236, 236);
  padding-left: 8px;
}

.form__select {
  margin-top: 12px;
}

.button--done {
  border: none;
  height: 14px;
  width: 18px;
}